<h1>
    Cart
</h1>
<div id="CartDetail">

<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

</div>
<div id="total"></div>

<div class="text-end">
    <button class="btn-primary btn">Check Out</button>
</div>

@section Scripts
{
<script src="~/js/cart.js"></script>
}