@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="banner p-0">
    <div class="p-4 p-md-5">
        <div class="px-0 text-center">
            Home, Welcome action
        </div>
    </div>
</div>

