@using Microsoft.AspNetCore.Identity;
@model List<IdentityRole>

@{
    ViewData["Title"] = "Manage users";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>User Groups</h3>

<table class="table">
    <thead>
        <tr>
            <td>Role Name</td>
            <td>Role Id</td>

        </tr>
    </thead>

    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>@role.Id</td>
        </tr>
    }
</table>