@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav login">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item pe-3">
        <a  class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hi @User.Identity?.Name</a>
    </li>
    <li class="nav-item pe-3">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link">Sign Out</button>
        </form>
    </li>
}
else
{
    <li class="nav-item pe-3">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item pe-3">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Sign In</a>
    </li>
}
</ul>
