@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav login">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item pe-3">
        <a  class="nav-link" asp-area="Identity" asp-route="/Admin/Users" title="Manage">Hi @User.Identity?.Name</a>
    </li>
    <li class="nav-item pe-3">
        <form  class="form-inline" action="/logout">
            <button  type="submit" class="nav-link btn btn-link">Sign Out</button>
        </form>
    </li>
}
else
{
    <li class="nav-item pe-3">
        <a class="nav-link"  asp-route="/Register">Register</a>
    </li>
    <li class="nav-item pe-3">
        <a class="nav-link" asp-route="/login">Sign In</a>
    </li>
}
</ul>
