@model IEnumerable<Starter.Models.Product>

@{
    ViewData["Title"] = "Products";
}
<div class="fs-5">
    <div>
        My Name: @ViewBag.user.Email
    </div>
    <ul>
        @foreach (var item in Model) {
        <li>
            <a href="/product/@item.ProductId">
            @Html.DisplayFor(modelItem => item.ProductName), NZ$@Html.DisplayFor(modelItem => item.Price)
            </a>
        </li>
}
    </ul>
</div>
